<div class="card">
    <div class="card-body">
     <h5 class="card-title">User Details</h5>
     

        <table>
            <thead>
                <th>Email</th>
                <th>Mobile No</th>
                <th>Created Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList;">
                    <td>{{user.email}}</td>
                    <td>{{user.mobile_number}}</td>
                    <td>{{user.created_date}}</td>
                </tr>
            </tbody>
        </table>
        
     
     <a href="#" class="btn btn-primary">Go somewhere</a>
   </div>
 </div>