<mat-toolbar id="header-wrap">
      <div>
            <button mat-icon-button   (click)="onToggleSidenav()">
                  <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/">LOGO</a>
      </div>
      <div fxFlex fxLayout  fxLayoutGap="10px"  fxLayoutAlign="flex-end">
            <a mat-fab routerLink="/"><mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon></a>
            
            <a mat-button mat-fab [matMenuTriggerFor]="menu">Menu</a>
            <mat-menu #menu="matMenu">
                  <a style="color: blue;" mat-menu-item routerLink="/user">User</a>
                  <a style="color: blue;" mat-menu-item routerLink="/test-mat-table">MatDataTable</a>
                  <a style="color: blue;" mat-menu-item routerLink="/NgxDataTable">NgxDataTable</a>
            </mat-menu>
            
            <a mat-fab routerLink="/login">Login</a>
            <a mat-fab routerLink="/signup">SignUp</a>
            <a mat-fab routerLink="/example">Logout</a>
      </div>
</mat-toolbar>
            
     






