 

 <!-- <mat-card>
     No Of Record : <select (change)="onPageSizeChanged()" id="page-size">
      <option value="10" selected>10</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="500">500</option>
      <option value="1000">1000</option>
     </select>
 </mat-card> -->
 <input type="button" value="Save" (click)="save()">
 <div class="example-header">
    Selection:
    <span id="selectedRows"></span>
  </div>
 <!-- <ag-grid-angular  
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [paginationPageSize]="paginationPageSize"
    (gridReady)="onGridReady($event)"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    (selectionChanged)="onSelectionChanged($event)"
    [rowSelection]="rowSelection"
>
</ag-grid-angular> -->

