<table>
  <tr>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/636335-200.png" alt="House Keeping">
        <mat-card-content>
          <p>
            House Keeping
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/home-tutione-123.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Home Tuition
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/203705-200.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Life Partner
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>

    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/hotel-people.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Hotels
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/tutotial-icon112.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Tutorial
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/Transport-Interstate-Truck-icon.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Transport
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/forrent.png" alt="House Keeping">
        <mat-card-content>
          <p>
            For Any Rent Service
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>

    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/tvl1.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Travel
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/demo_18.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Job
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/home-on-rent.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Home On Rent
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/commercial-property.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Property
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
  </tr>

  <tr>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/Salon-Accessories-PNG-Image.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Salon
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/msg1.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Massage
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/spa.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Spa
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>

    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/doctor_318-105717.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Doctors
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/house-painter-wb.png" alt="House Keeping">
        <mat-card-content>
          <p>
            House Painter
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/mason-wb.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Mason
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/chief-icon-3.jpg" alt="House Keeping">
        <mat-card-content>
          <p>
            Cook
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>

    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/ac-service.png" alt="House Keeping">
        <mat-card-content>
          <p>
            AC Service
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/aplience-repaire.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Appliance Repair
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/plumber-bw-1.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Plumber
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/electrician.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Electrician
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
  </tr>

  <tr>


    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/carpenter-wb.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Carpenter
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <img mat-card-image src="../assets/img/tifin-service.png" alt="House Keeping">
        <mat-card-content>
          <p>
            Tifin Service
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
    </td>
  </tr>



</table>
